__pycache__/
.pytest_cache/
.ipynb_checkpoints/
.DS_Store
*.pyc
.venv_wsl/
__pycache__/
env/
.venv/
venv/



# Data folders (large, generated)
data/
embedding/
backups/

.idea/
.vscode/
